*{
    margin:0;
    padding:0;
    list-style:none;
}
#menu {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;
    z-index: 70;
    width: 110px;
}
#menu li {
    float: left;
    margin:  20px 10px 0 0;
    font-size: 14px;
}
#menu a {
    float: left;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;}
#menu .active a {
    color: #fff;
    background-color: #333;
}
.section {
    text-align: center;
    font: 50px "Microsoft Yahei";
    color: #fff;
    overflow: hidden;
}
.section1{
    padding:130px 200px;
    background-image: url("../img/home-bg.jpg");
    background-size:cover;
}
.section1 h4{
    margin-top:180px;
    color:#EB5424;
    margin-bottom: 20px;
    font-size: 24px;
}
.section1 p{
    margin-top:30px;
    font-size: 18px;
    color:#5F5F5F;
}
.section1 p:nth-of-type(2){
    margin-top: 10px;
}
.section1 a{
    display: block;
    text-decoration: none;
    font-size: 22px;
    color:#EB5424;
    background:#ffffff;
    width:200px;
    height:60px;
    line-height: 60px;
    text-align: center;
    margin:30px auto;
    transition: all 1s;
}
.section1 a:hover{
    background:#EB5424;
    color:#ffffff;
}
.section2{
    background-image: url("../img/section2.jpg");
    background-size:100% 100%;
    position: relative;
    padding: 50px 150px;
}
.section2 .head {
    position: relative;
    left: -120%;
    box-sizing: border-box;
    width:50%;
    float:left;
}
.section2 h3{
    position: relative;
    margin-top:50px;
    margin-bottom: 20px;
    font-size: 24px;
    color:#EB5424;
}
.section2 .head>ul{
    height:100%;
    overflow: hidden;
    margin-bottom: 50px;
}
.section2 .head>ul>li{
    line-height: 30px;
    /*padding:0 10px;*/
    font-size: 18px;
    color:#ffffff;
    /*float:left;*/
    margin:10px 10px;
    text-align: left;
    /*border:1px solid black;*/
}
.section2 .word{
    width:50%;
    margin:auto;
    position: relative;
    left: 120%;
    font-size: 24px;
    float:left;
    background:rgba(0,0,0,0.5);
    border-radius: 10px;
    padding-top:30px;
}
.section2 .word>.canvas{
    width:50%;
}
.section2 .word>.canvas{
    float:left;
}
.section2 .one{
    width:100%;
    font-size: 18px;
    color:#ffffff;
    line-height: 30px;
    margin:10px 10px;
    overflow: hidden;
    text-align: left;
}
.section3{
    background:#F8F8F8;
    background-size:100% 100%;
    position:relative;
    color:#ffffff;
    padding:30px 150px;
}
.section .mask{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:rgba(0,0,0,0.2)
}
.section3 .mask{
    background:#F8F8F8;
}
.section3 h3{
    color:#EB5424;;
    position: relative;
    margin-top:50px;
    margin-bottom: 20px;
    font-size: 24px;
}
.section3 .head {
    position: relative;
    width:100%;
    bottom: -120%;
    box-sizing: border-box;
    color:#5F5F5F;
}
.section3 .headnav{
    width:800px;
    height:50px;
    /*background:red;*/
    margin:auto;
}
.section3 .headnav>li{
    width:150px;
    margin-right:10px;
    height:100%;
    float:left;
    text-align: center;
    line-height:50px;
    font-size: 24px;
    color:gray;
    border-radius: 10px;
    cursor: pointer;
}
.section3 .headnav>.hot{
    background:#EB5424;
    color:#fff;
}
.section3 .progect{
    width:100%;
    height:400px;
    overflow: hidden;
    margin:10px auto;
}
.section3 .progect>li{
    width:25%;
    height:200px;
    float:left;
    text-align: center;
    line-height:50px;
    font-size: 24px;
    transition: all 0.5s;
    cursor: pointer;
}
.section3 .progect>li>a{
    display: block;
}
.section3 .progect>li>a>img{
    display: block;
    width:100%;
    height:200px;
}
.section3 .progect>li>a>img:hover{
    opacity: 0.8;
}
.section4{
    background-image: url("../img/section4.jpg");
    background-size:100% 100%;
    position: relative;
}
.section4 h3{
    position: relative;
    color:#EB5424;
    margin-top:50px;
    margin-bottom: 20px;
    font-size: 24px;
}
.section4 .head {
    display: none;
    color:#ffffff;
    font-size: 20px;
    height:50px;
    line-height: 50px;
}
.section4 .head5 {
    font-size: 20px;
    position: relative;
    bottom: -120%;
    color:#ffffff;
    height:50px;
    line-height: 50px;
}
.section4 .head8 {
    font-size: 20px;
    position: relative;
    left: -120%;
    color:#ffffff;
    height:50px;
    line-height: 50px;
}
.section4 .head9 {
    font-size: 20px;
    position: relative;
    left: 120%;
    color:#ffffff;
    height:50px;
    line-height: 50px;
}