*{
	font-family: "微软雅黑","苹方";
}
body{
	background: #F0F0F0;
}
.grzx-dingbu{
	width: 100%;
	height: 0.88rem;
	background: #1868C1;
	text-align: center;
	overflow: hidden;
	padding: 0 0.24rem 0 0.24rem;
	box-sizing: border-box;
	position: fixed;
	top: 0rem;

}
.grzx-dingbu img{
	width: 0.44rem;
	height: 0.44rem;
	margin-top: 0.24rem;
	float: right;
}
.grzx-dingbu span{
	font-size: 0.25rem;
	color: white;
	display: block;
	margin-top: 0.12rem;
	margin-left: 0.2rem;
	
	
}
.grzx-dingbu em{
	font-size: 0.21rem;
	color: white;
	font-style: normal;
	display: block;
	margin-left: 0.2rem;
	

}
.grzx-zhongjian{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	padding-top: 0.39rem;
	box-sizing: border-box;
	background: #F0F0F0;
	padding-bottom: 1.8rem;
	margin-top: 0.88rem;

}
.grzx-zhongjian> .shang{
	width: 100%;
	height: 2.33rem;
	background: white;
	border-radius: 0.1rem;
	padding-left: 0.18rem;
	padding-right: 0.18rem;
	box-sizing: border-box;
	padding-top: 0.18rem;
	margin-bottom: 0.83rem;

}
.grzx-zhongjian> .shang> .tu{
	width: 1.86rem;
	height: 1.86rem;
	
	float: left;

}
.grzx-zhongjian> .shang> .tu>a>img{
	width: 100%;
	height: 100%;
}
.grzx-zhongjian> .shang> .wenzi{
	width: 3.4rem;
	height: 1.5rem;
	
	float: left;
	margin-top: 0.37rem;
	margin-left: 0.2rem;
}
.grzx-zhongjian> .shang> .wenzi>a{
	text-decoration: none;
}
.grzx-zhongjian> .shang> .wenzi>a>span{
	display: block;
	font-size: 0.3rem;
	color: black;
	font-weight: bold;
}
.grzx-zhongjian> .shang> .wenzi>a>em{
	display: block;
	font-size: 0.25rem;
	color: #C2C2C2;
	font-style: normal;
	margin-top: 0.05rem;
	
}
.grzx-zhongjian> .shang> .wenzi>a>i{
	display: block;
	font-size: 0.2rem;
	color: #B3B3B3;
	font-style: normal;
	margin-top: 0.05rem;
	font-weight: bold;
	
}
.grzx-zhongjian> .shang> .jiantou{
	float: right;
	width: 0.23rem;
	height: 0.36rem;
	margin-right: 0.1rem;
	margin-top: 1rem;
}
.grzx-zhongjian> .shang> .jiantou>a>img{
	width: 100%;
	height: 100%;
}

.grzx-zhongjian> .zhong{
	width: 100%;
	height: auto;
	margin-bottom: 0.5rem;
	overflow: hidden;
	
}
.grzx-zhongjian> .zhong>ul{
	display: flex;
	justify-content:space-between; 
}
.grzx-zhongjian> .zhong>ul>li{
	width: 30%;
	height: auto;
	float: left;
	background: white;
	border-radius: 0.1rem;
	padding-left: 0.17rem;
	box-sizing: border-box;
	padding-top: 0.18rem;
	padding-bottom: 0.2rem;
}
.grzx-zhongjian> .zhong>ul>li>a{
	display: block;
	width: 100%;
	height: auto;
	text-decoration: none;
}
.grzx-zhongjian> .zhong>ul>li>a>span{
	display: block;
	font-size: 0.2rem;
	color: #151515;

}
.grzx-zhongjian> .zhong>ul>li>a>em{
	display: block;
	font-size: 0.3rem;
	font-style: normal;
	font-weight: bold;
	color: black;
}
.grzx-zhongjian> .zhong>ul>li>a>i{
	display: block;
		font-style: normal;
		color: #151515;
		font-size: 0.2rem;
}
.grzx-zhongjian> .xia{
	width: 100%;
	height: auto;

	overflow: hidden;
}
.grzx-zhongjian> .xia>ul>li{
	width: 100%;
	height: auto;
	background: white;
	padding-left: 0.3rem;
	box-sizing: border-box;
	padding-bottom: 0.26rem;
	padding-top: 0.34rem;
	border-radius: 0.1rem;
	padding-right: 0.3rem;
	margin-bottom: 0.12rem;
}
.grzx-zhongjian> .xia>ul>li>a{
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	color: black;

}
.grzx-zhongjian> .xia>ul>li>a> .tu{
	width: 0.53rem;
	height: 0.52rem;
	float: left;
}
.grzx-zhongjian> .xia>ul>li>a> .tu>img{
	width: 100%;
	height: 100%;
}
.grzx-zhongjian> .xia>ul>li>a>span{
	display: block;
	float: left;
	font-size: 0.3rem;
	
	margin-left: 0.25rem;
	
}
.grzx-zhongjian> .xia>ul>li>a>em{
	display: block;
	float: left;
	font-size: 0.23rem;
	font-style: normal;
	margin-left: 0.2rem;
	margin-top: 0.05rem;
	
}
.grzx-zhongjian> .xia>ul>li>a> .yuan{
	width: 0.1rem;
	height: 0.1rem;
	background: #FADB35;
	border-radius: 50%;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.17rem;
}
.grzx-zhongjian> .xia>ul>li>a> .jiantou{
	float: right;
	width: 0.4rem;
	height: 0.43rem;
}
.grzx-zhongjian> .xia>ul>li>a> .jiantou>img{
	
	width: 100%;
	height: 100%;
}

.grzx-dibu{
	width: 100%;
	height: 1.34rem;
	background: #1B73D7;
	margin-top: 0.57rem;
	justify-content: space-around;
	display: flex;
	padding-top: 0.26rem;
	padding-bottom: 0.26rem;
	box-sizing: border-box;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	position: fixed;
	bottom: 0rem;
}
.grzx-dibu>a{
	display: block;
	float: left;
	text-align: center;
	width: 1.15rem;
	height: 0.88rem;
	
	/* background: red; */
	box-sizing: border-box;
	

}
.grzx-dibu>a:nth-child(1){
	width: 1.15rem;
	height: 0.92rem;
}
.grzx-dibu>a:nth-child(2){
	width: 0.9rem;
	height: 0.85rem;
}
.grzx-dibu>a:nth-child(4){
	width: 0.85rem;
	height: 0.85rem;
}
.grzx-dibu>a>img{
	width: 100%;
	height: 100%;
}