body{
	width: 7.5rem;
	height: 12.86rem;
	background: #F5F5F5;
	position: relative;
}
.ssgc-head{
	width: 100%;
	height: 0.88rem;
	background: #1B73D7;
	padding:0.19rem 0.23rem;
	box-sizing: border-box;
	z-index: 9999;
}
.ssgc-headSon1{
	width: 0.44rem;
	height: 0.44rem;
	float: left;
	margin-top:0.03rem;
}
.ssgc-headSon1>img{
	display: block;
	width: 0.44rem;
	height: 0.44rem;
}
.ssgc-headSon2{
	margin:0 0.28rem;
	float: left;
	position: relative;
}
.ssgc-headSon2>img{
	display: block;
	width: 0.18rem;
	height: 0.31rem;
	position: absolute;
	top:0.1rem;
	left:5.15rem;
}
.ssgc-headSon2 input[type="sousuo"]{
	width: 5.54rem;
	height: 0.5rem;
	outline: none;
	background: #fff;
	font-size: 0.2rem;
	border-radius: 0.3rem;
	border:0.01rem solid #fff;
	box-sizing: border-box;
	padding-left: 0.2rem;
	color:#E5E5E5;
}
.ssgc-headSon2-xiala{
	width: 7.5rem;
	height: 2.14rem;
	background: #fff;
	position: absolute;
	top: 0.49rem;
	left:-0.95rem;
	box-shadow: 0 0.06rem  0 0 #E5E5E5;
	visibility: hidden;
	box-sizing: border-box;
	border-top:0.2rem solid #1B73D7;
}
.headSon2-xialaSon1{
	width: 6.9rem;
	height: 0.91rem;
	border-bottom:0.03rem solid #B6B6B6;
	box-sizing: border-box;
	margin:0 auto;
	padding:0.17rem 0 0.15rem 0;
}
.headSon2-xialaSon1 .box1{
	width: 0.59rem;
	height: 0.59rem;
	background: pink;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.headSon2-xialaSon1 .box1>img{
	display: block;
	width: 0.76rem;
	height: 1.01rem;
	margin-left:-0.08rem;
}
.headSon2-xialaSon1 .box2{
	font-size: 0.26rem;
	color:#292929;
	line-height: 0.55rem;
	margin-left:0.21rem;
	float: left;
}
.headSon2-xialaSon1 .box3{
	width: 1.02rem;
	height: 0.3rem;
	background: #B5B5B5;
	border-radius: 0.2rem;
	margin-top:0.1rem;
	margin-left: 0.3rem;
	float: left;
	font-size: 0.22rem;
	text-align: center;
	line-height: 0.3rem;
	color:#FFFFFF;
}
.headSon2-xialaSon1 .box4{
	width: 1.42rem;
	height: 0.3rem;
	background: #F62E2E;
	border-radius: 0.25rem;
	margin-top:0.1rem;
	margin-left: 0.3rem;
	float: left;
	font-size: 0.22rem;
	text-align: center;
	line-height: 0.32rem;
	color:#FFFFFF;
	overflow: hidden;
}
.ssgc-headSon2:hover .ssgc-headSon2-xiala{
	visibility: visible;
}
.ssgc-headSon3{
	width: 0.44rem;
	height: 0.44rem;
	/*background: #fff;*/
	float: right;
	margin-top:0.03rem;
}
.ssgc-headSon3>img{
	width: 0.44rem;
	/*height: 0.44rem;*/
	display: block;
}
.ssgc-main{
	width: 7.02rem;
	height: auto;
	background: #F5F5F5;
	margin:0 auto;
}
.ssgc-reBox1{
	width: 6rem;
	height: auto;
	/*background: pink;*/
	margin:0 auto;
	padding:0.5rem 0 0.3rem 1.6rem;
	border-bottom: 0.01rem dashed #C4C4C4;
	box-sizing: border-box;
	overflow: hidden;
}
.ssgc-reSon1{
	width: 0.62rem;
	height: 0.52rem;
	/*background: #fff;*/
	float:left;
}
.ssgc-reSon1>img{
	display: block;
	width: 0.62rem;
	height: 0.52rem;
}
.ssgc-reSon2{
	width: 3.6rem;
	height: auto;
	/*background: pink;*/
	float: left;
	margin-left:0.18rem;
}
.ssgc-reSon2>h2{
	font-size: 0.26rem;
	color:#272727;
	font-weight: 600;
}
.ssgc-reSon2>span{
	font-size: 0.14rem;
	letter-spacing: 0.02rem;
}
.ssgc-reBox2{
	width: 4.28rem;
	height: 2.5rem;
	margin:0 auto;
	/*background: pink;*/
	padding:0.26rem 0 0.44rem 0;
	box-sizing: border-box;
}
.reSmall-box1{
	width: 2.8rem;
	height: 0.48rem;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}
.ssgc-p{
	width: 1.27rem;
	height: 0.48rem;
	background-image: url(../img/ssgc-p.png);
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 0.24rem;
	color:#353535;
	text-align: center;
	line-height: 0.48rem;
}
.reSmall-box2{
	width: 4.28rem;
	height: 0.48rem;
	margin:0.17rem auto;
	display: flex;
	justify-content: space-between;
}

.ssgc-tuijian{
	width: 100%;
	height: auto;
}
.ssgc-tuijian-top{
	width: 100%;
	height: 0.56rem;
	margin-top: 0.26rem;
	/*background: pink;*/
}
.ssgc-tuijian-topSon1{
	width: 0.47rem;
	height: 0.47rem;
	border-radius: 50%;
	background: #FADE1E;
	float: left;
	margin-top:0.07rem;
}
.ssgc-tuijian-topSon2{
	float:left;
	width: 6rem;
	height: auto;
	margin-left:0.22rem;
}
.ssgc-tuijian-topSon2>h2{
	font-size: 0.27rem;
	color:#282828;
	line-height: 0.27rem;
	margin-bottom:0.05rem;
	margin-top:0.05rem;
}
.ssgc-tuijian-topSon2>span{
	font-size: 0.18rem;
	color:#282828;
	line-height: 0.16rem;
}
.ssgc-tuijian-topSon2>span:nth-child(2){
	color:#1878DE;
	font-weight: blod;
}
.ssgc-tuijian-down{
	width: 100%;
	height: 2.42rem;
	border-radius: 0.2rem;
	margin-top:0.26rem;
	position: relative;
	box-shadow: 0.02rem 0.02rem 0.2rem 0 #DBDBDB;
}
.ssgc-tuijian-down>img{
	display: block;
	width: 0.69rem;
	height: 0.73rem;
	position: absolute;
	left:6.17rem;
	top:-0.07rem;
}
.ssgc-tuijian-down-left{
	width: 1.08rem;
	height: 2.42rem;
	float: left;
	margin-left:0.17rem;
}
.ssgc-tuijian-down-left>img{
	display: block;
	width: 1.08rem;
	height: 1.08rem;
	margin-top:0.22rem;
}
.ssgc-tuijian-down-left>img:nth-child(2){
	display: block;
	margin:0.1rem auto 0.1rem auto;
	width: 0.67rem;
	height: 0.03rem;
}
.ssgc-tuijian-down-left>div{
	width: 0.94rem;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin:0 auto;
}
.ssgc-tuijian-down-left>div>img{
	display: block;
	width: 0.17rem;
	height: 0.16rem;
}
.ssgc-tuijian-down-right{
	width: 4rem;
	height: auto;
	margin-left:0.7rem;
	/*background: pink;*/
	float: left;
	overflow: hidden;
}
.ssgc-tuijian-down-right ul{
	width: 100%;
}
.ssgc-tuijian-down-right ul>li{
	font-size:0.24rem;
	color:#34393F;
	margin-top:0.1rem;
	
	line-height: 0.24rem;
}
.ssgc-tuijian-down-right ul>li:nth-child(1){
	font-weight: 500;
}
.ssgc-tuijian-down-right ul>li:nth-child(2){
	font-size: 0.2rem;
	color:#42464C;
	line-height: 0.2rem;
}
.ssgc-tuijian-down-right ul>li:nth-child(3) img{
	display: block;
	width: 1.1rem;
	height: 0.02rem;
}
.ssgc-tuijian-down-right ul>li:nth-child(4){
	font-size: 0.24rem;
	color:#34393F;
	line-height: 0.3rem;
}
.ssgc-tuijian-down-right ul>li:nth-child(5) img{
	display: block;
	width: 1.1rem;
	height: 0.02rem;
}
.ssgc-tuijian-down-right ul>li:nth-child(6){
	overflow: hidden;
}
.ssgc-tuijian-down-right ul>li:nth-child(6) img{
	display: block;
	width: 0.22rem;
	height: 0.22rem;
	float: left;
}
.ssgc-tuijian-down-right ul>li:nth-child(6) span{
	display: block;
	float: left;
	font-size: 0.2rem;
	color:#34393F;
	margin-left: 0.05rem;
}
.ssgc-tuijian-down-right ul>li:nth-child(7){
	overflow: hidden;
}
.ssgc-tuijian-down-right ul>li:nth-child(7) img{
	display: block;
	width: 0.22rem;
	height: 0.22rem;
	float: left;
}
.ssgc-tuijian-down-right ul>li:nth-child(7) span{
	display: block;
	float: left;
	font-size: 0.2rem;
	color:#34393F;
	margin-left: 0.05rem;
}
.ssgc-zhe{
	width: 7.5rem;
	height: 12rem;
	background:black;
	position: absolute;
	bottom:0;
	left: 0;
	opacity:0.5;
	/*display: none;*/
}
.ssgc-zheSon{
	width: 3.68rem;
	height: 2.4rem;
	margin:3.5rem auto 0 auto;
	/*background: pink;*/
	text-align: center;
	position: relative;
}
.ssgc-zheSon>img{
	display: block;
	width: 3.68rem;
	height: 1.69rem;	
}
.ssgc-zheSon>span{
	margin-top:0.1rem;
	display: inline-block;
	font-size: 0.36rem;
	color:#FFFFFF;
}
.ssgc-zheSon>div{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top:0;
	left:0;
}
.ssgc-zheSon>div:nth-of-type(1){
	top:2.1rem;
	left:2.48rem;
}
.ssgc-zheSon>div:nth-of-type(2){
	top:2.1rem;
	left:2.58rem;
}
.ssgc-zheSon>div:nth-of-type(3){
	top:2.1rem;
	left:2.68rem;
}
.ssgc-headSon2:hover .ssgc-zhe{
	display: block;
}
