body{
	width: 100%;
	height: 13.34rem;
	background: #F5F5F5;
}
/* 标题 */
.xzz-box{
	width: 100%;
	height: .88rem;
    background: #1B73D7;
    padding: .12rem;
    overflow: hidden;
}
.xzz-box>a>img{
	width: .44rem;
	height: .44rem;
	margin-top: .11rem;
    margin-left: .11rem;
    display: block;
    float: left;
}
.xzz-box>p{
	float: left;
	text-align: center;
	color: white;
	margin-left: 2rem;
}
.xzz-box>p>span{
	font-size: .28rem;
}
.xzz-box>p>em{
	display: block;
	margin-top: .06rem;
	font-size: .2rem;	
}
/* 列表 */
.xzz-ground{
	width: 100%;
	background: #F5F5F5;
	padding: .24rem;
}
.xzz-list{
	width: 100%;
	background: white;
	padding: .3rem;	
	border-radius: .1rem;
	padding-top: .1rem;
	padding-bottom: .66rem;
	border-bottom: .09rem solid #FFBD20;
}
.xzz-listson{
	width: 6.08rem;
	height: 1.55rem;
/* 	background: yellow; */
	border-bottom: .01rem solid #E5E5E5;
}
.xzz-section{
	width: 100%;
	height: .86rem;
/* 	background: beige; */
	transform: translateY(.48rem) ;
}
.xzz-section img{
	width: .86rem;
	height: .86rem;
	display: block;
	float: left;
}
.xzz-section .right{
	width: 4rem;
	height: 100%;
	float: left;
	margin-left: .2rem;
}
.xzz-section .up{
	overflow: hidden;
}
.xzz-section .up>span{
	font-size: .26rem;
	font-weight: bold;
	display: block;
	float: left;
	color: black;
}
.xzz-section .up>img{
	width: .25rem;
	height: .32rem;
	display: block;
	float: left;
	margin-left: .21rem;
	margin-right: .3rem;
}
.xzz-section .redbox{
	width: .57rem;
	height: .29rem;
	background: red;
	float: left;
	border-radius: .145rem;
	color: white;
	line-height: .29rem;
	text-align: center;
	font-size: .24rem;
}
.xzz-section .mid{
    width: 1.33rem;
    height: .03rem;
    margin-top: .04rem;
    margin-bottom: .1rem;
}
.xzz-section .mid>img{
    width: 1.33rem;
    height: .03rem;
}
.xzz-section .down{
	font-size: .26rem;
	color: black;
}
/* 支付 */
.xzz-pay{
	width: 100%;
	height: 1.12rem;
/* 	background: red; */
    margin-top: .87rem;
}
.xzz-pay .payson{
	width: auto;
	height: 100%;
	background: #1EA94C;
	float: left;
	margin-left: 2.5%;
	margin-right: 7.5%;
	border-radius: .05rem;
}
.xzz-pay .payson:first-child{
	margin-left: 7.5%;
	margin-right: 2.5%;
	background: #00A8EF;
}
.xzz-pay img{
	float: left;
	display: block;
	margin-top: 0.05rem;
}
.xzz-pay p{
	float: left;
	color: white;
	/* margin-left: .05rem; */
	margin-top: .25rem;
	margin-right: 0.1rem;
}
.xzz-pay p>span{
	font-size: .24rem;
	font-weight: bold;
	letter-spacing: .01rem;
}
.xzz-pay p>i{
	font-size: .12rem;
	font-style: normal;
}
/* 去结算 */
.xzz-green{
	width: 100%;
	height: 1rem;
	padding: .22rem;
	background: #1EAA4C;
	overflow: hidden;
	margin-top: 3.47rem;
}
.xzz-green img{
	width: .53rem;
	height: .53rem;
	display: block;
	float: left;
	margin-left: 2.77rem;
}
.xzz-green p{
	float: left;
	color: white;
	margin-left: .05rem;
}
.xzz-green p>span{
	font-size: .26rem;
	display: block;
}
.xzz-green p>i{
	font-size: .18rem;
	display: block;
}