*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family: "微软雅黑","苹方";
}
.xiaomi{
	width: 1350px;
	margin: 0px auto;
	box-shadow: 0px 0px 10px 8px #ADADAD;
}
.header{
	width: 1350px;
	height:40px ;
	background: #333333;
	margin: 0px auto;
}
.header-a{
	/* width: 565px; */
	height: 40px;
	/* background: red; */
	float: left;
	line-height: 40px;
}
.header-a-b{
	margin-left: 62px;
	float: left;
	height: 40px;
	line-height: 40px;
}
.header-a a{
	font-size: 11px;
	color: #B0B0B0;
	text-decoration: none;
}
.header-a a:hover{
	color: red;
}
.header-a-b a{
	font-size: 11px;
	color: #B0B0B0;
	text-decoration: none;
}
.header-a-b a:hover{
	color: red;
}
.header li span{
	width: 2px;
	height: 11px;
	background: #393D3D;
	margin: 15px 8px 14px;
	float: left;
}
.header-b{
	width: 120px;
	height: 40px;
	background: #424242;
	line-height: 40px;
	float: right;
	margin-right: 62px;
}
.header-b img{
	float: left;
	margin-left: 17px;
	margin-top: 11px;
}
.header-b span{
	font-size: 11px;
	color: #B0B0B0;
	margin-left: 2px;
}
.header-c{
	height: 40px;
	/* background: red; */
	float: right;
	line-height: 40px;
}
.header-c-a{
	height: 40px;
	float: right;
	line-height: 40px;
	margin-right: 26px;
}
.header-c a{
	font-size: 11px;
	color: #B0B0B0;
	text-decoration: none;
}
.header-c a:hover{
	color: red;
}
.header-c-a a{
	font-size: 11px;
	color: #B0B0B0;
	text-decoration: none;
}
.header-c-a a:hover{
	color: red;
}
.what{
	width: 1350px;
	height: 100px;
	/* background: red; */
	margin: 0px auto;
	position: relative;
}
.what1 img{
	float: left;
	margin-left: 62px;
	margin-top: 21px;
}
.what2 img{
	float: left;
	margin-left: 37px;
	margin-top: 25px;
	margin-right: 13px;
}


.what4{
	height: 100px;
	/* background: blue; */
	line-height: 100px;
	float: left;
	margin-left: 21px;
}
.what4 .xialala{
	height:285px;
	width: 1350px;
	background:red;
	top: 100px;
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 10;
	border-top: 1px solid black;
}
.what4 a{
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.what4 a:hover{
	color: blue;
}
.what3{
	width: 296px;
	height: 100px;
	/* background: blue; */
	float: right;
	margin-right: 62px;
	line-height: 100px;
}
.what3 .kuang{
	width: 214.3px;
	height: 48px;
	border: 1px solid #e0e0e0;
	padding: 0px 10px;
	font-size: 14px;
    line-height: 48px;
    float: left;
    margin-top: 26px;
    outline: none;
}
.what3 .kuang:hover{
	border: 1px solid black;
}
.what3 .sousuo{
	width:60px;
	height:50px;
	border: 1px solid #e0e0e0;
	padding: 1px 6px;
	font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    float: left;
    margin-top: 26px;
    outline: none;
}
.what3 .sousuo:hover{
	background:orange;
}



.hgroupleft>.bolk{
	display: block;
}

.banner{
	width: 1226px;
	height: 460px;
	background: #5B5754;
	margin: 0px auto;
	position: relative;
}
.background{
	width: 100%;
	height: 460px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
.background>img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.background>img:first-of-type{
	z-index: 10;
}
.background>ul{
	width: 100px;
	height: 10px;
	position: absolute;
	bottom: 20px;
	right: 30px;
	z-index: 11;
}
.background>ul>li{
	width: 9.2px;
	height: 9.2px;
	float: left;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid #fff;
	background: rgba(0,0,0,0.4);
	margin-left:10px;
}
.background>ul>.hot{
	background: #F5F5F5;
	border-color: rgba(0,0,0,0.4);
}
.background>.left{
	width: 41px;
	height: 69px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 234px;
	margin: auto;
	/* background: red; */
	z-index: 11;
	line-height: 69px;
	text-align: center;
	font-size: 24px;
	color: #757575;
	cursor: pointer;
}
.background>.right{
	width: 41px;
	height: 69px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	/* background: red; */
	z-index: 11;
	line-height: 69px;
	text-align: center;
	font-size: 24px;
	color: #757575;
	cursor: pointer;
}
.banner>ul{
	width: 234px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.6);
}
.banner1{
	width: 234px;
	height: 40px;
	line-height: 40px;
}
.banner1:hover{
	background: yellowgreen;
}
.top{
	width: 234px;
	height: 10px;
}
.banner1 a{
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
	margin-left: 30px;
}
.banner1 span{
	color: #FFFFFF;
	float: right;
	margin-right: 27px;
}
.banner1 .hidden{
	width: 234px;
	height: 460px;
	background: blue;
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
}



.whit1{
	width: 1226px;
	height: 14px;
	background:#FFFFFF;
	margin: 0px auto;
}
.bigbox{
	width: 1226px;
	height: 170px;
	background:#FFFFFF;
	margin: 0px auto;
}
.boxa{
	width: 234px;
	height: 100%;
	background:#5F5750;
	float: left;
}
.boxa1{
	width: 234px;
	height: 70px;
	/* background: red; */
	margin-top: 9px;
}
.boxa1-a{
	width: 75px;
	height: 70px;
	/* background: black; */
	float: left;
	margin-left: 4px;
	cursor: pointer;
}
.boxa1-a:hover em{
	color: white;
}
.boxa em{
	font-size: 11px;
	color: #CFCDCB;
	font-style: normal;
	float: left;
	margin-top:-4px;
	margin-left: 14px;
}
.boxa1 span{
	width: 1px;
	height: 70px;
	background: #665E57;
	float: left;
}
.boxa3 span{
	width: 1px;
	height: 70px;
	background: #665E57;
	float: left;
}
.boxa img{
	margin-top: 11px;
	margin-left: 22px;
}
.boxa1-b{
	width: 75px;
	height: 70px;
	float: left;
	cursor: pointer;
}
.boxa1-b:hover em{
	color: white;
}
.boxa2{
	width: 234px;
	height: 11px;
	/* background: blue; */
}
.boxa2 span{
	width: 70px;
	height: 1px;
    float: left;
	background:#665E57;
	margin:4px;
}
.boxa3{
	width: 234px;
	height: 70px;
	/* background: red; */
}
/* .boxa1 :hover{
	color: red;
}
.boxa3 :hover{
	color: red;
} */
.boxb{
	width: 316px;
	height: 100%;
	background:blue;
	float: left;
	margin-left:14.6px;
	transition: all 0.5s;
}
.boxb:hover{
	/* margin-top:-3px; */
	box-shadow: 5px 5px 20px 0px #BABABA;
}
.boxb img{
	width: 100%;
	height: 100%;
}
.whit2{
	width: 1226px;
	height: 44px;
	background: #FFFFFF;
	margin: 0px auto;
}
.box{
	width: 1226px;
	height: 63px;
	background: #FFFFFF;
	margin: 0px auto;
}
.box span{
	font-size: 23px;
	color: #333333;
	line-height: 63px;
}
.boxson-1{
	width:34px;
	height: 22px;
	border:1px solid #E0E0E0 ;
	float: right;
	margin-top: 30px;
}
.boxson-2{
	width:34px;
	height: 22px;
	border:1px solid #E0E0E0 ;
	float: right;
	margin-top: 30px;
}
.boxson-1 a{
	text-decoration: none;
	color: #E2E0E0;
	margin-left: 12px;
}
.boxson-2 a{
	text-decoration: none;
	color: #C2B4B0;
	margin-left:12px;
}
.shopa{
	width: 1226px;
	height:340px;
	background:#FFFFFF;
	margin: 0px auto;
}
.shopa-a{
	width: 234px;
	height: 339px;
	background: blue;
	float: left;
	margin-right: 14px;
	border-top: 1px solid #FFAC13;
}
.shopa-b{
	width: 234px;
	height: 339px;
	background: blue;
	float: left;
	margin-right: 14px;
	border-top: 1px solid #83C44E;
}
.shopa-c{
	width: 234px;
	height: 339px;
	background: blue;
	float: left;
	margin-right: 14px;
	border-top: 1px solid #2196F3;
}
.shopa-d{
	width: 234px;
	height: 339px;
	background: blue;
	float: left;
	margin-right: 14px;
	border-top: 1px solid #E53935;
}
.shopa-e{
	width: 234px;
	height: 339px;
	background: blue;
	float: left;
	border-top: 1px solid #00C0A5;
}
.shopa img{
	width: 100%;
	height: 100%;
}

.whit3{
	width: 1350px;
	height: 40px;
	background: #FFFFFF;
	margin: 0px auto;
}
.backdown{
	width: 1350px;
	background:#F5F5F5;
	margin: 0px auto;
}
/* 智能硬件 */
.zhineng{
	width: 1226px;
	height: 118px;
	/* background: blue; */
	margin: 0px auto;
}
.zhineng span{
	font-size:23px;
	color: #333333;
	float: left;
	margin-top: 78px;
}.zhineng em{
	font-size: 15px;
	font-style: normal;
	color: #333333;
	float: right;
	margin-top: 81px;
	margin-right: 29px;
}
.shopb{
	width: 1226px;
	height: 614px;
	/* background: black; */
	margin: 0px auto;
}
.shopb-a{
	width: 234px;
	height: 614px;
	background: red;
	float: left;
	transition: all 0.2s;
}
.shopb-a img{
	float: left;
	width: 100%;
	height: 100%;
}
.shopb-a:hover{
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.shopb-b{
	width: 234px;
	height: 300px;
	background: #FFFFFF;
	float: left;
	margin-left: 14px;
	overflow: hidden;
	position: relative;
	transition: all 0.1s;
}
.shopb-b>.upla{
	width: 100%;
	transform: translateY(76.662px);
	position: absolute;
	left: 0;
	bottom: 0;
	transition:all 0.5s;
	opacity: 0;
}
.shopb-b:hover .upla{
	transform: translateY(0);
	opacity: 1;
}
.shopb-b>.upla>img{
	width: 100%;
	display: block;
}
.shopb-b img{
	float: left;
	width: 100%;
	height:67.73%;
}
.shopb .down{
	margin-top: 14px;
}
.shopb-b a{
	width: 234px;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	float: left;
	text-align: center;
}
.shopb-b:hover{
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.shopb-b a:hover{
	color: red;
}
.shopb-b span{
	width: 234px;
	font-size: 11px;
	color: #B0B0B0;
	float: left;
	margin-top:3px;
	text-align: center;
}
.shopb-b em{
	width: 234px;
	font-size: 12px;
	font-style: normal;
	color: #FF6700;
	float: left;
	margin-top: 19px;
	text-align: center;
}
.dapei{
	width: 1226px;
	height:80px;
	/* background: blue; */
	margin: 0px auto;
}
.dapei span{
	font-size: 23px;
	color: #333333;
	float: left;
	margin-top: 40px;
}
.dapei em{
	font-size: 14px;
	font-style: normal;
	color: #333333;
	float: right;
	margin-top: 43px;
	margin-left: 30px;
}
.dapei a{
	font-size: 15px;
	color: #FF6700;
	float: right;
	margin-top: 40px;
	text-decoration: none;
}
.dapei i{
	width: 32px;
	font-style: normal;
	height: 1px;
	background: #FF6700;
	display: block;
	margin-top: 2px;
}
.shopb-c{
	width: 234px;
	height: 300px;
	background: red;
	float: left;
	transition: all 0.1s;
}
.shopb-c:hover{
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.shopb-d:hover{
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.shopb-c img{
	width: 100%;
	height: 100%;
}
.shopb .youxia{
	width: 234px;
	height: 143px;
	background:#FFFFFF;
	float: left;
	margin-top: 14px;
}
.shopb .youxia img{
	float: right;
	height: 100%;
	width:100px;
}
.shopb .youxia i{
	font-size: 12px;
	font-style: normal;
	color: #333333;
	float: left;
	margin-top: 40px;
	margin-left:30px;
}
.shopb .youxia i:hover{
	color: red;
}
.shopb .youxia b{
	font-size: 11px;
	font-weight: normal;
	color: #FF6700;
	font-style: normal;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}
.shopb-d{
	width: 234px;
	height: 300px;
	background: #FFFFFF;
	float: left;
	margin-left: 14px;
	transition: all 0.1s;
	overflow: hidden;
	position: relative;
}
.shopb-d>.upla{
	width: 100%;
	transition: all 0.5s;
	transform: translateY(76.662px);
	position: absolute;
	left: 0;
	bottom: 0;
}
.shopb-d>.upla>img{
	width: 100%;
}
.shopb-d:hover{
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.shopb-d:hover .upla{
	transform: translateY(0)
}
.shopb-d img{
	float: left;
	width: 100%;
	height:67.73%;
}

.shopb-d a{
	width: 234px;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	float: left;
	text-align: center;
}
.shopb-d a:hover{
	color: red;
}
.shopb-d span{
	width: 234px;
	font-size: 12px;
	color: #B0B0B0;
	float: left;
	margin-top:19px;
	text-align: center;
}
.shopb-d em{
	width: 234px;
	font-size: 11px;
	font-style: normal;
	color: #FF6700;
	float: left;
	margin-top:3px;
	text-align: center;
}
.shopb-e{
	margin-left: 14px;
	transition: all 0.1s;
}
.shopb-e:hover{
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.shopb-e a{
	font-size: 17px;
	color: black;
	text-decoration: none;
	float: left;
	margin-left:30px;
	margin-top: 55px;
}
.shopb-e span{
	font-size: 12px;
	color: #757575;
	float: left;
	margin-left:30px;
	margin-top:5px;
}







/* 为你推荐 */
.tuijian{
	width: 1226px;
	height:80px;
	/* background: blue; */
	margin: 0px auto;
}
.tuijian span{
	font-size: 23px;
	color: #333333;
	float: left;
	margin-top: 40px;
}
.tuijian-1{
	width:34px;
	height: 22px;
	border:1px solid #E0E0E0 ;
	float: right;
	margin-top:40px;
}
.tuijian-2{
	width:34px;
	height: 22px;
	border:1px solid #E0E0E0 ;
	float: right;
	margin-top:40px;
}
.tuijian-1 a{
	text-decoration: none;
	margin-left: 12px;
	color: #B0B4BF;
}
.tuijian-2 a{
	text-decoration: none;
	margin-left: 12px;
	color: #E0E0E0;
}
.shopc{
	width: 1226px;
	height: 300px;
	/* background:red; */
	margin: 0px auto;
}
.shopc-a{
	width: 234px;
	height: 100%;
	background:#FFFFFF;
	float: left;
	margin-right: 14px;
	transition: all 0.1s;
}
.shopc .right{
	margin-right: 0px;
}
.shopc img{
	width: 100%;
	height: 201px;
	float: left;
}
.shopc a{
	width: 234px;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	float: left;
	text-align: center;
}
.shopc a:hover{
	color: red;
}
.shopc span{
	width: 234px;
	font-size: 12px;
	color: #FF6700;
	float: left;
	text-align: center;
	margin-top: 17px;
}
.shopc em{
	width: 234px;
	font-size: 14px;
	font-style: normal;
	color: #757575;
	float: left;
	margin-top: 20px;
	text-align: center;
}
.shopc-a:hover{
	transform: translate3d(0, -2px, 0);
}



/* 热评产品 */
.re{
	width: 1226px;
	height:80px;
	/* background: blue; */
	margin: 0px auto;
}
.re span{
	font-size: 23px;
	color: #333333;
	float: left;
	margin-top: 40px;
}
.shopd{
	width: 1226px;
	height: 415px;
	/* background: red; */
	margin: 0px auto;
}
.shopd-a{
	width: 296px;
	height: 100%;
	background: #FFFFFF;
	float: left;
	margin-right: 14px;
	transition: all 0.5s;
}
.shopd img{
	width: 100%;
	height: 220px;
	float: left;
}
.shopd em{
	font-size: 12px;
	font-style: normal;
	color: #333333;
	float: left;
	width: 230px;
	margin-left:30px;
	margin-top: 34px;
}
.shopd i{
	font-size: 11px;
	font-style: normal;
	color: #B0B0B0;
	float: left;
	width: 230px;
	margin-left: 30px;
	margin-top: 30px;
}
.shopd span{
	font-size: 12px;
	color: #FF6700;
	float: left;
	width: 230px;
	margin-left: 30px;
	margin-top: 17px;
}
.shopd a{
	text-decoration: none;
	color: #333333;
	float: left;
}
.shopd a:hover{
	color: red;
}
.shopd b{
	font-style: normal;
	width: 1px;
	height: 12px;
	background:#E4E4EB;
	float: left;
	margin: 0px 8px;
}
.shopd .right{
	margin-right:0px;
}
.shopd .right i{
	margin-top: 60px;
}
.shopd-a:hover{
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}



/* 内容 */
.shope{
	width: 1226px;
	height: 420px;
	/* background: red; */
	margin: 0px auto;
}
.shope-a{
	width: 296px;
	height: 419px;
	background:#FFFFFF;
	float: left;
	margin-right: 14px;
	position: relative;
	transition: all 0.5s;
}
.shope-a>ul{
	width: 100%;
	height: 30px;
	position: absolute;
	background: #fff;
	left: 0;
	bottom: 10px;
	box-sizing: border-box;
	padding: 0 80px;
}
.shope-a:first-of-type{
	box-sizing: border-box;
	padding: 0 93px;
}
.shope-a>ul>li{
	float: left;
	width: 6px;
	height: 6px;
	margin: 0 12px;
	border-radius: 6px;
	background: #b0b0b0;
	border: 2px solid #f5f5f5;
	transition: all 0.5s;
	cursor: pointer;
}
.shope-a>ul>li:hover{
	background: #e53935;
}
.shope-a>ul>.cur{
	border: 2px solid #e53935;
	background:#fff;
}
.shope-a>.left{
	width: 20px;
	height: 24px;
	padding: 12px 0;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	transition: all 0.5s;
	background:rgba(66,66,66,0.2);
	opacity: 0;
	color: #fff;
	cursor: pointer;
}
.shope-a>.right{
	width: 20px;
	height: 24px;
	padding: 12px 0;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	transition: all 0.5s;
	background:rgba(66,66,66,0.2);
	opacity: 0;
	color: #fff;
	cursor: pointer;
}
.shope-a>.right:hover{
	background: #b0b0b0;
}
.shope-a>.left:hover{
	background: #b0b0b0;
}
.shope-a:hover .left{
	opacity: 1;
}
.shope-a:hover .right{
	opacity: 1;
}
.shope-a em{
	font-style: normal;
	font-size: 14px;
	float: left;
	width: 296px;
	text-align: center;
	margin-top: 51px;
}
.shope-a a{
	font-size: 19px;
	text-decoration: none;
	float: left;
	color: #333333;
	width: 296px;
	text-align: center;
	margin-top: 25px;
}
.shope-a i{
	width: 192px;
	font-size: 11px;
	font-style: normal;
	float: left;
	color: #B0B0B0;
	margin-left: 52px;
	text-align: center;
	margin-top: 10px;
}
.shope-a b{
	width: 296px;
	font-size: 12px;
	font-weight: normal;
	float: left;
	color: #333333;
	text-align: center;
	margin-top:9px;
}
.shope-a img{
	width: 100%;
	height:56%;
	float: left;
	margin-bottom: 0px;
}
.shope .first{
	border-top: 1px solid #FFAC13;
	color: #FFAC13;
}
.shope .second{
	border-top: 1px solid #83C44E;
	color: #83C44E;
}
.shope .third{
	border-top: 1px solid #E53935;
	color:#E53935;
}
.shope .fourth{
	border-top: 1px solid #2196F3;
	margin-right: 0px;
	color: #2196F3;
}
.shope .third b{
	margin-top: 24px;
}
.shope .fourth img{
	margin-top: 42px;
}
.shope-a:hover{
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}



/* 视频 */
.pin{
	width: 1226px;
	height:80px;
	/* background: blue; */
	margin: 0px auto;
}
.pin span{
	font-size: 23px;
	color: #333333;
	float: left;
	margin-top: 40px;
}
.pin a{
	font-size: 15px;
	color: #333333;
	float: right;
	margin-top: 43px;
	text-decoration: none;
	transition: all 0.3s;
}
.pin a:hover{
	color: #fda502;
}
.pin a:hover em{
	background: #fda502;
}
.pin>a>em{
	display: inline-block;
	width: 12px;
	height: 12px;
	font-size: 12px;
	padding: 4px;
	line-height: 12px;
	margin-left: 8px;
	background: #b0b0b0;
	color: white;
	border-radius: 16px;
	transition: all 0.3s;
}
.shopf{
	width: 1226px;
	height: 344px;
	/* background: red; */
	margin: 0px auto;
}
.shopf-a{
	width: 296px;
	height: 288px;
	background: #FFFFFF;
	float: left;
	margin-right: 14px;
	transition: all 0.5s;
}
.shopf-a img{
	width: 100%;
	height: 180px;
	float: left;
}
.shopf-a a{
	width: 296px;
	font-size: 12px;
	text-decoration: none;
	float: left;
	color: #333333;
	text-align: center;
	margin-top: 33px;
}
.shopf-a a:hover{
	color: red;
}
.shopf-a span{
	width: 296px;
	font-size: 11px;
	float: left;
	color: #B0B0C5;
	text-align: center;
	margin-top: 12px;
}
.shopf .right{
	margin-right: 0px;
}
.shopf-a:hover{
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}



/* 售后 */
.bigshouhou{
	width: 1350px;
	background:#FFFFFF;
	margin: 0px auto;
}
.shouhou{
	width: 1226px;
	height: 78px;
	/* background: blue; */
	margin: 0px auto;
	line-height: 78px;
}
.shou a{
	width: 244.4px;
	font-size: 14px;
	color: #616161;
	text-decoration: none;
	float: left;
	text-align: center;
}
.shou a:hover{
	color: red;
}
.shou span{
	width: 1px;
	height: 25px;
	background: #E0E0E0;
	float: left;
	margin-top: 27px;
}
.xian{
	width: 1226px;
	height: 1px;
	background:#E0E0E0;
	margin: 0px auto;
}
.shouhouson{
	width: 1226px;
	height: 192px;
	/* background: blue; */
	margin: 0px auto;
}
.shouhouson-a{
	width:974px;
	height: 192px;
	/* background: yellow; */
	float: left;
}
.shouhouson-a span{
	font-size: 12px;
	color: #333333;
	float: left;
	margin-top: 42px;
	margin-bottom: 15px;
	margin-right: 104px;
}
.shouhouson-a a{
	font-size: 10px;
	color: #757575;
	text-decoration:none;
	float: left;
	margin-top: 17px;
	margin-right: 112px;
}
.shouhouson-a a:hover{
	color: red;
}
.shouhouson-b{
	width: 1px;
	height: 112px;
	margin-top: 40px;
	background: #E0E0E0;
	float: left;
}
.shouhouson-c{
	width: 251px;
	height: 192px;
	/* background: purple; */
	float: left;
}
.shouhouson-c span{
	width: 251px;
	font-size: 16px;
	color: #FF6700;
	float: left;
	text-align: center;
	margin-top: 42px;
}
.shouhouson-c em{
	font-size: 12px;
	width: 251px;
	color: #616161;
	font-style: normal;
	float: left;
	margin-top: 12px;
	text-align: center;
}
.shouhouson-c i{
	font-size: 11px;
	width: 251px;
	color: #616161;
	font-style: normal;
	float: left;
	margin-top:6px;
	text-align: center;
}
.shouhouson-c a{
	width: 118px;
	height: 28px;
	border: 1px solid #FF6700;
	float: left;
	margin-top: 19px;
	margin-left:66px;
	font-size: 11px;
	color:#FF6700;
	text-decoration:none;
	line-height:28px;
	text-align:center;
}
.shouhouson-c a:hover{
	background: #FF6700;
	color: #FFFFFF;
}


/* 结尾 */
.jiewei{
	width: 1350px;
	height: 166px;
	background: #FAFAFA;
	margin: 0px auto;
}
.jiewei img{
	margin-left:62px;
	float: left;
	margin-top: 30px;
}
.jiewei a{
	font-size: 11px;
	color: #757575;
	text-decoration: none;
	float: left;
	margin-top: 31px;
	
}
.jiewei .smallbox a{
    margin-left: 10px;
}
.jiewei a:hover{
	color: red;
}
.jiewei span{
	width: 1px;
	height: 12px;
	background: #C3D7FA;
	float: left;
	margin: 0px 3px;
	margin-top: 33px;
}
.jiewei .boxson img{
	float: right;
	margin-top: 0px;
}
.jiewei em{
	font-style: normal;
	font-size: 11px;
	color: #BCB0C8;
	float: left;
	margin-top: 6px;
}
.jiewei .box-a em{
	margin-left: 10px;
}
.jiewei .box-b em{
	margin-left: 3px;
}
.jiewei .box-b em:hover{
	color: red;
}
.jiewei i{
	font-style: normal;
	font-size: 11px;
	color: #BCB0C8;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
}
.jiewei b{
	font-size: 18px;
	font-weight: normal;
	color: #BEBEBE;
	width: 1350px;
	float: left;
	/* background: red; */
	text-align: center;
	margin-top: -50px;
}