body{
	width: 7.5rem;
	position: relative;
}
.btt-ground{
	width: 7.5rem;
	/* height: 13.34rem; */
    background-image: url('../img/btt-ground.png');
    background-size: cover;
    overflow: hidden;
}
.btt-kong{
	width: 100%;
	height: .97rem;
	border-bottom: .08rem solid #1667D1;
	padding-top: .27rem;
	padding-left: .25rem;
}
.btt-biaoti{
	width: 100%;
	height: .97rem;
	border-bottom: .08rem solid #1667D1;
	padding-top: .27rem;
	padding-left: .25rem;
	background: rgba(27, 115, 215, .6);
	position: fixed;
	top: 0rem;
}
.btt-biaoti img{
	width: .44rem;
	height: .44rem;
}
.btt-blank{
	width: 100%;
	height: 1.86rem;
	padding:.18rem .3rem;
}
.btt-blank li{
	width: 1.5rem;
	height: 1.5rem;
	margin-right: .3rem;
	background:white;
	float: left;
	border-radius: .1rem;
	overflow: hidden;
}
.btt-blank li:last-child{
	margin-right: 0;
}
.btt-blank li:hover{
    transform: scale(1.1, 1.1);
    border: .03rem solid white;
}
.btt-guding{
	width: 100%;
	height: 1rem;
	background: black;
	position: fixed;
	bottom: 0;
}
.btt-guding>p{
	width: 1.2rem;
	height: 1rem;
	float: left;
	font-size: .3rem;
	color: white;
	text-align: center;
	line-height: 1rem;
}
.btt-guding .bluekuai{
	width: 1.02rem;
	height: .39rem;
	border-radius: .195rem;
	background: #1667D1;
	float: right;
	margin-right: .34rem;
	margin-top: .3rem;
	font-size: .2rem;
	color: white;
	text-align: center;
	line-height: .39rem;
}