body{
	width: 100%;
	height: 13.34rem;
	background: #F5F5F5;
	position: relative;
}

/* 遮罩 */
.ddx2-cover{
    width: 7.5rem;
    height: 13.34rem;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.ddx2-coverson{
    width: 80%;
    height: 70%;
    background: #F5F5F5;
    margin: 20% auto;
}






.ddx2-cover .ddx2-list{
	width: 100%;
	background: white;
	padding: .3rem;
	box-shadow: .01rem .01rem .1rem black;
	border-radius: .1rem;
	padding-bottom: .66rem;
	border-bottom: .09rem solid white;
}
.ddx2-cover .ddx2-listson{
	width: 100%;
	height: 1.2rem;
/* 	background: white; */
	border-bottom: .02rem dashed #E5E5E5;
	padding-top: .15rem;
}
.ddx2-cover .ddx2-sons{
	width: 100%;
	height: .92rem;
/* 	background: yellow; */
}
.ddx2-cover .ddx2-sonsr{
	width: 18%;
	height:100%;
/* 	background: pink; */
	border-left: .01rem solid #E5E5E5;
	float: left;
	padding: .16rem;
	padding-left: .2rem;
}
.ddx2-cover .ddx2-sonsr>p>span{
	font-size: .22rem;
	display: block;
	letter-spacing: .01rem;
	color: red;
	font-weight: bold;
	margin-left: .03rem;
}
.ddx2-cover .ddx2-sonsr>p>i{
	font-size: .24rem;
	color: red;
	font-weight: bold;
	display: block;
	margin-top: .08rem;
	letter-spacing: .01rem;
}
.ddx2-cover .ddx2-sonsl{
	width: 82%;
	height: 100%;
/* 	background: beige; */
	float: left;
}
.ddx2-cover .ddx2-sonsl img{
	display: block;
	width: .92rem;
	height: .92rem;
	float: left;
}
.ddx2-cover .ddx2-sonsl .right{
	width: 3.5rem;
	height: .92rem;
/* 	background: green; */
	float: left;
}
.ddx2-cover .ddx2-sonsl .up{
	width: 100%;
	overflow: hidden;
}
.ddx2-cover .ddx2-sonsl .up span{
	font-size: .3rem;
	font-weight: bold;
	display: block;
	float: left;
	margin-left: .18rem;
	letter-spacing: .03rem;
}
.ddx2-cover .ddx2-sonsl .up i{
	font-size: .3rem;
	display: block;
	float: left;
	margin-left: .18rem;
	letter-spacing: .03rem;
}
.ddx2-cover .yuanjiao{
	width: .6rem;
	height: .26rem;
	float: left;
	border: .01rem solid black;
	border-radius: .13rem;
	margin-left: .08rem;
	margin-top: .02rem;
	text-align: center;
	line-height: .26rem;
	font-size: .2rem;
}
.ddx2-cover .ddx2-sonsl .mid img{
	margin-left: .2rem;
	width: 1.41rem;
	height: .03rem;
	display: block;
	margin-top: .07rem;
}
.ddx2-cover .ddx2-sonsl .down{
	width: 100%;
	overflow: hidden;
	font-size: .24rem;
	margin-left: .2rem;
	margin-top: .2rem;
}




.ddx2-cover .ddx2-pay{
	width: 100%;
	height: .8rem;
	background: #F5F5F5;
	margin-top: .3rem;
}
.ddx2-cover .ddx2-pay img{
	width: .8rem;
	height: .8rem;
	display: block;
	float: left;
	margin-left: 2.1rem;
}
.ddx2-cover .ddx2-pay p{
	float: left;
	margin-left: .08rem;
	margin-top: .18rem;
}
.ddx2-cover .ddx2-pay p>span{
	font-size: .18rem;
	display: block;
}
.ddx2-cover .ddx2-pay p>em{
	width: .72rem;
	height: .01rem;
	background: #E5E5E5;
	display: block;
}
.ddx2-cover .ddx2-pay p>i{
	font-size: .2rem;
	display: block;
	color: red;
	letter-spacing: .01rem;
}
.ddx2-cover .gopay{
	width: 100%;
	height: .74rem;
}
.ddx2-cover .gopayson{
	width: 2.26rem;
	height: .74rem;
	float: left;
	border-radius: .37rem;
	font-size: .26rem;
	text-align: center;
	line-height: .74rem;
}








/* 标题 */
.ddx2-box{
	width: 100%;
	height: .88rem;
    background: #1B73D7;
    padding: .12rem;
    overflow: hidden;
}
.ddx2-box>img{
	width: .44rem;
	height: .44rem;
	margin-top: .11rem;
    margin-left: .11rem;
    display: block;
    float: left;
}
.ddx2-box>p{
	float: left;
	text-align: center;
	color: white;
	margin-left: 2rem;
}
.ddx2-box>p>span{
	font-size: .28rem;
}
.ddx2-box>p>em{
	display: block;
	margin-top: .06rem;
	font-size: .2rem;	
}
/* 列表 */
.ddx2-ground{
	width: 100%;
	background: #F5F5F5;
	padding: .24rem;
}
.ddx2-list{
	width: 100%;
	background: white;
	padding: .3rem;
	box-shadow: .01rem .01rem .1rem black;
	border-radius: .1rem;
	padding-bottom: .66rem;
	border-bottom: .09rem solid #FFBD20;
}
.ddx2-listson{
	width: 100%;
	height: 1.2rem;
/* 	background: white; */
	border-bottom: .01rem solid #E5E5E5;
	padding-top: .15rem;
}
.ddx2-sons{
	width: 100%;
	height: .92rem;
/* 	background: yellow; */
}
.ddx2-sonsr{
	width: 18%;
	height:100%;
/* 	background: pink; */
	border-left: .01rem solid #E5E5E5;
	float: left;
	padding: .16rem;
	padding-left: .3rem;
}
.ddx2-sonsr>p>span{
	font-size: .22rem;
	display: block;
	letter-spacing: .01rem;
}
.ddx2-sonsr>p>i{
	font-size: .24rem;
	color: red;
	font-weight: bold;
	display: block;
	margin-top: .08rem;
	letter-spacing: .01rem;
}
.ddx2-sonsl{
	width: 82%;
	height: 100%;
/* 	background: beige; */
	float: left;
}
.ddx2-sonsl img{
	display: block;
	width: .92rem;
	height: .92rem;
	float: left;
}
.ddx2-sonsl .right{
	width: 4.3rem;
	height: .92rem;
/* 	background: green; */
	float: left;
}
.ddx2-sonsl .up{
	width: 100%;
}
.ddx2-sonsl .up span{
	font-size: .3rem;
	font-weight: bold;
	display: block;
	float: left;
	margin-left: .18rem;
	letter-spacing: .03rem;
}
.ddx2-sonsl .up i{
	font-size: .3rem;
	display: block;
	float: left;
	margin-left: .18rem;
	letter-spacing: .03rem;
}
.ddx2-sonsl .up img{
	margin-left: .18rem;
	width: 1.11rem;
	height: .33rem;
	display: block;
	float: left;
	z-index: 0;
	transform: translateY(-.05rem);
}
.ddx2-sonsl .mid img{
	margin-left: .2rem;
	width: 1.41rem;
	height: .03rem;
	display: block;
	margin-top: .07rem;
}
.ddx2-sonsl .down{
	width: 100%;
	overflow: hidden;
}
.ddx2-sonsl .redbox{
	width: 1.07rem;
	height: .36rem;
	background: red;
	border-radius: .18rem;
	color: white;
	font-size: .24rem;
	text-align: center;
	line-height: .36rem;
	margin-left: .24rem;
	margin-top: .12rem;
	float: left;
	letter-spacing: .03rem;
}
.ddx2-sonsl p{
	font-size: .24rem;
    float: left;
    text-align: center;
	margin-top: .18rem;
	margin-left: .06rem;
	letter-spacing: .01rem;
}
.ddx2-sonsl .down p:nth-child(2){
	margin-left: .2rem;
    font-weight: bold;
}
/* 支付 */
.ddx2-pay{
	width: 100%;
	height: .8rem;
	background: #F5F5F5;
	margin-top: .7rem;
	margin-bottom: .45rem;
}
.ddx2-payline{
	width: 90%;
	height: .01rem;
	background: #E5E5E5;
}
.ddx2-pay img{
	width: .8rem;
	height: .8rem;
	display: block;
	float: left;
	margin-left: 2.73rem;
}
.ddx2-pay p{
	float: left;
	margin-left: .08rem;
	margin-top: .18rem;
}
.ddx2-pay p>span{
	font-size: .18rem;
	display: block;
}
.ddx2-pay p>em{
	width: .72rem;
	height: .01rem;
	background: #E5E5E5;
	display: block;
}
.ddx2-pay p>i{
	font-size: .2rem;
	display: block;
	color: red;
	letter-spacing: .01rem;
}
/* 去结算 */
.ddx2-green{
	width: 100%;
	height: 1rem;
	padding: .22rem;
	background: #1EAA4C;
	overflow: hidden;
	margin-top: 4.35rem;
}
.ddx2-green img{
	width: .53rem;
	height: .53rem;
	display: block;
	float: left;
	margin-left: 2.77rem;
}
.ddx2-green p{
	float: left;
	color: white;
	margin-left: .05rem;
}
.ddx2-green p>span{
	font-size: .26rem;
	display: block;
}
.ddx2-green p>i{
	font-size: .18rem;
	display: block;
}