*{
	font-family: "微软雅黑","苹方";
	color: #1B1B1B;
}
body,html{
	width: 100%;
	height: 100%;
}
.hylt-dingbu{
	width: 100%;
	height: 0.88rem;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	background: #1968C5;
	box-sizing: border-box;
	text-align: center;
	padding-top: 0.24rem;
	overflow: hidden;
	position: fixed;
	top: 0rem;
	z-index: 99;
}
.hylt-dingbu> .fanhui{
	float: left;
	width: 0.44rem;
	height: 0.44rem;
}
.hylt-dingbu> .fanhui>a>img{
	width: 100%;
	height: 100%;
}
.hylt-dingbu> .geren{
	float: right;
	width: 0.44rem;
	height: 0.44rem;
}
.hylt-dingbu> .geren>a>img{
	width: 100%;
	height: 100%;
}
.hylt-dingbu>span{
	display: block;
	font-size: 0.3rem;
	color: white;
}
.hylt-zhongjian{
	width: 100%;
	height: auto;
	padding-left: 0.47rem;
	padding-right: 0.47rem;
	box-sizing: border-box;
	background: #F4F4F4;
	overflow: hidden;
	padding-top: 1.05rem;
}
.hylt-zhongjian> .yi{
	width: 100%;
	height: 1.22rem;
	
}
.hylt-zhongjian> .yi>a> .baotu{
	width: 1.2rem;
	height: 1.2rem;
	background: yellow;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.hylt-zhongjian> .yi>a> .baotu>img{
	width: 1.8rem;
	height: 2.3rem;
	transform: translate(-0.2rem, -0.2rem);
}
.hylt-zhongjian> .yi>a> .wenzi{
	width: 3.5rem;
	height: 0.68rem;
	background: #B5B5B5;
	border-radius: 0.1rem;
	float: left;
	margin-top: 0.27rem;
	margin-left: 0.15rem;
	line-height: 0.68rem;
}
.hylt-zhongjian> .yi>a> .wenzi>pre{
	font-size: 0.34rem;
	margin-left: 0.3rem;

}

.hylt-zhongjian> .er{
	width: 100%;
	height: 1.22rem;
	
	margin-top: 0.84rem;
}
.hylt-zhongjian> .er>a> .baotu{
	width: 1.2rem;
	height: 1.2rem;
	background: yellow;
	border-radius: 50%;
	overflow: hidden;
	float: right;
}
.hylt-zhongjian> .er>a> .baotu>img{
	width: 1.8rem;
	height: 2.3rem;
	transform: translate(-0.2rem, -0.2rem);
}
.hylt-zhongjian> .er>a> .wenzi{
	width: 1.5rem;
	height: 0.68rem;
	background: #B5B5B5;
	border-radius: 0.1rem;
	float: right;
	margin-top: 0.27rem;
	margin-right: 0.15rem;
	line-height: 0.68rem;
	text-align: center;
}
.hylt-zhongjian> .er>a> .wenzi>pre{
	font-size: 0.34rem;
	

}


.hylt-zhongjian> .san{
	width: 100%;
	height: 1.22rem;
	
	margin-top: 0.59rem;
}
.hylt-zhongjian> .san>a> .baotu{
	width: 1.2rem;
	height: 1.2rem;
	background: yellow;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.hylt-zhongjian> .san>a> .baotu>img{
	width: 1.8rem;
	height: 2.3rem;
	transform: translate(-0.2rem, -0.2rem);
}
.hylt-zhongjian> .san>a> .wenzi{
	width: 2.2rem;
	height: 0.68rem;
	background: #B5B5B5;
	border-radius: 0.1rem;
	float: left;
	margin-top: 0.27rem;
	margin-left: 0.15rem;
	line-height: 0.68rem;
	
}
.hylt-zhongjian> .san>a> .wenzi>pre{
	font-size: 0.34rem;
	

}
.hylt-zhongjian> .san>a> .wenzi>img{
     display: inline-block;
     float: left;
     width: 0.36rem;
     height: 0.38rem;
     margin-top: 0.15rem;
     margin-left: 0.44rem;
     margin-right: 0.39rem;
}

.hylt-zhongjian> .si{
	width: 100%;
	height: 1.95rem;
	
	margin-top: 0.84rem;
	margin-bottom: 1.2rem;
}
.hylt-zhongjian> .si>a> .baotu{
	width: 1.2rem;
	height: 1.2rem;
	background: yellow;
	border-radius: 50%;
	overflow: hidden;
	float: right;
	margin-left: 0.2rem;
}
.hylt-zhongjian> .si>a> .baotu>img{
	width: 1.8rem;
	height: 2.3rem;
	transform: translate(-0.2rem, -0.2rem);
}
.hylt-zhongjian> .si>a> .baotu1{
	width: 2.74rem;
	height: 1.53rem;
	background: yellow;
	overflow: hidden;
	float: right;
	margin-top: 0.4rem;
	border-radius: 0.1rem;
}
.hylt-zhongjian> .si>a> .baotu1>img{
	width: 2.74rem;
	transform: translate(0, -1.1rem);

}


.hylt-zhongjian> .wu{
	width: 100%;
	height: 1.22rem;
	margin-bottom: 2.94rem;
	margin-top: 0.59rem;
}
.hylt-zhongjian> .wu>a> .baotu{
	width: 1.2rem;
	height: 1.2rem;
	background: yellow;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.hylt-zhongjian> .wu>a> .baotu>img{
	width: 1.8rem;
	height: 2.3rem;
	transform: translate(-0.2rem, -0.2rem);
}
.hylt-zhongjian> .wu>a> .wenzi{
	width: 1.4rem;
	height: 0.68rem;
	background: #B5B5B5;
	border-radius: 0.1rem;
	float: left;
	margin-top: 0.27rem;
	margin-left: 0.15rem;
	line-height: 0.68rem;
	text-align: center;

	
}

.hylt-zhongjian> .wu>a> .wenzi>img{
     width: 0.43rem;
     height: 0.45rem;
     margin-top: 0.115rem;
}
.hylt-dibu{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #BFBFBF;
	padding-top: 0.12rem;
	padding-bottom: 0.12rem;
	box-sizing: border-box;
	padding-right: 0.24rem;
	padding-left: 0.24rem;
	position: fixed;
	bottom: 0rem;
}
.hylt-dibu>a>input{
	width: 5.95rem;
	height: 0.6rem;
	background: white;
	border: 0rem;
	border-radius: 0.1rem;
	outline: none;
	float: left;
	margin-right: 0.12rem;
}
.hylt-dibu> .fasong{
	width: 0.94rem;
	height: 0.52rem;
	background: white;
	border-radius: 0.1rem;
	float: left;
	margin-top: 0.04rem;
	text-align: center;
	line-height: 0.52rem;
}
.hylt-dibu> .fasong>a{
	text-decoration: none;
	font-size: 0.3rem;
}