body,html{
	width: 100%;
	height:100%;
} 
.spy_BigBox{
	width: 100%;
	height: 100%;
	border: 0.01rem solid #c7c7c7;
	overflow: hidden;
	box-sizing:border-box;

}
.spy_Box{
	width:100%;
	height:100%;
	position: absolute;
	/* animation: shanping 8s ease 0s 1; */
	/* -webkit-animation-fill-mode:forwards; */
}
.spy_BigBox .One{
	background-image:url(../img/spy_2.png);
	background-size: cover;
	/* background-size: 100% 13.34rem; */
}
.spy_BigBox .Two{
	background-image:url(../img/spy_1.png);
	background-size: cover;
	/* background-size: 100% 13.34rem; */
}
.spy_BigBox .Three{
	background-image:url(../img/spy_3.png);
	background-size: cover;
	/* background-size: 100% 13.34rem; */
}
.spy_Box>a:first-of-type{
	position: absolute;
	color: #D5D4D5;
    font-size: 0.48rem;
    right:0.5rem;
    top:0.3rem;
    text-decoration: none;
}
.spy_BoxSon{
	width: 0.9rem;
	height: 0.2rem;
	/* background: red; */
     margin:12.3rem auto 0rem;
	display: flex;
	justify-content:space-between;
}
.spy_BoxSon>span{
	display: block;
	width: 0.2rem;
	height: 100%;
	background:#fff;
	/* float: left; */
	border-radius: 50% 50%
}

.spy_BigBox .One span:first-of-type{
	background: #0168B7;
}
.spy_BigBox .Two span:nth-of-type(2){
	background: #0168B7;
}
.spy_BigBox .Three span:nth-of-type(3){
	background: #0168B7;
}
.spy_BigBox .Three .spy_BoxSon{
	margin-top:11rem;
}
.spy_BigBox .Three .Word{
	height: 0.78rem;
	width:3.1rem;
	background: red;
    margin:0.5rem auto 0rem;
	border-radius: 0.1rem;
	text-align: center;
	line-height: 0.78rem;
	font-size: 0.36rem;
}
.spy_BigBox .Three .Word a{
	color: #fff;
	text-decoration: none;
	display:block;
	width: 100%;
	height:100%;
	border-radius: 0.1rem;
	background: #0168B7;
}


/* @keyframes shanping{
	0%{
      transform: translateX(0);
	}
	30%{
      transform: translateX(0);
	}
	35%{
      transform: translateY(-83.5rem);
	}
	65%{
      transform: translateY(-83.5rem);
	}
	70%{
      transform: translateY(-167rem);
	}
	100%{
      transform: translateY(-167rem);
	}
}