body{
	width: 7.5rem;
	background: #F5F5F5;
	position: relative;
	overflow: hidden;
}
.sssb-head{
	width: 100%;
	height: 0.88rem;
	background: #1B73D7;
	padding:0.19rem 0.23rem;
	box-sizing: border-box;
}
.sssb-headSon1{
	width: 0.44rem;
	height: 0.44rem;
	/*background: #fff;*/
	float: left;
	margin-top:0.03rem;
}
.sssb-headSon1>img{
	display: block;
	width: 0.44rem;
	height: 0.44rem;
}
.sssb-headSon2{
	margin:0 0.28rem;
	float: left;
	position: relative;
}
.sssb-headSon2>img{
	display: block;
	width: 0.18rem;
	height: 0.31rem;
	position: absolute;
	top:0.1rem;
	left:5.15rem;
}
.sssb-headSon2 input[type="sousuo"]{
	width: 5.54rem;
	height: 0.5rem;
	outline: none;
	background: #fff;
	font-size: 0.2rem;
	border-radius: 0.3rem;
	border:0.01rem solid #fff;
	box-sizing: border-box;
	padding-left: 0.2rem;
	color:#E5E5E5;
}

.sssb-headSon3{
	width: 0.44rem;
	height: 0.44rem;
	/*background: #fff;*/
	float: right;
	margin-top:0.03rem;
}
.sssb-headSon3>img{
	width: 0.44rem;
	/*height: 0.44rem;*/
	display: block;
}
.sssb-ding{
	width: 100%;
	height: 0.85rem;
	background: #434343;
	padding:0.16rem 0;
	box-sizing: border-box;
}
.sssb-ding-left{
	width: 50%;
	height: 0.53rem;
	/*background: black;*/
	box-sizing: border-box;
	border-right:0.03rem solid #323232;
	padding-left:1.14rem;
	float: left;
	padding-top:0.14rem;
}
.sssb-ding-left>a>img{
	display: block;
	width: 0.25rem;
	height: 0.32rem;
	float: left;
}
.sssb-ding-left>a>span{
	display: block;
	font-size: 0.3rem;
	color:#fff;
	line-height: 0.3rem;
	float: left;
	margin-left: 0.07rem;
}
.sssb-ding-left .jiantou{
	display: block;
	float: left;
	margin:0.09rem 0 0 0.05rem;
	width: 0.24rem;
	height: 0.13rem;
}
.sssb-ding-right{
	width: 50%;
	height: 0.53rem;
	/*background: pink;*/
	box-sizing: border-box;
	padding-left:1.14rem;
	padding-top:0.14rem;
	border-left:0.03rem solid #323232;
	float: left;
}
.sssb-ding-right>a>img{
	display: block;
	float: left;
	width: 0.26rem;
	height: 0.27rem;
}
.sssb-ding-right>a>span{
	display: block;
	font-size: 0.3rem;
	color:#fff;
	line-height: 0.3rem;
	float: left;
	margin-left: 0.07rem;
}
.sssb-ding-right .jiantou{
	display: block;
	float: left;
	margin:0.09rem 0 0 0.05rem;
	width: 0.24rem;
	height: 0.13rem;
}
.sssb-jieguo{
	width: 100%;
	height: 3.2rem;
}
.sssb-jieguo-son{
	margin:1.3rem auto 0 auto;
	width: 3.00rem;
	/*background: pink;*/
	text-align: center;
	padding-top:0.2rem;
	box-sizing: border-box;
}
.sssb-jieguo-son>img{
	/*display: block;*/
	width: 1.45rem;
	height: auto;
	/*height: 0.82rem;*/
}
.sssb-jieguo-son>h2{
	font-size: 0.34rem;
	font-weight: 500;
}
.sssb-jieguo-son>span{
	font-size: 0.30rem;
}
.sssb-main{
	width: 7.02rem;
	height: auto;
	background: #F5F5F5;
	margin:0 auto;
}

.sssb-soujieguo{
	width: 100%;
	height: auto;
}
.sssb-soujieguo-top{
	width: 100%;
	height: 0.56rem;
	margin-top: 0.7rem;
}
.sssb-soujieguo-topSon1{
	width: 0.47rem;
	height: 0.47rem;
	border-radius: 50%;
	background: #FADE1E;
	float: left;
	margin-top:0.07rem;
}
.sssb-soujieguo-topSon2{
	float:left;
	width: 6rem;
	height: auto;
	margin-left:0.22rem;
}
.sssb-soujieguo-topSon2>h2{
	font-size: 0.27rem;
	color:#282828;
	line-height: 0.27rem;
	margin-bottom:0.05rem;
	margin-top:0.05rem;
}
.sssb-soujieguo-topSon2>span{
	font-size: 0.18rem;
	color:#282828;
	line-height: 0.16rem;
}
.sssb-soujieguo-topSon2>span:nth-child(2){
	color:#1878DE;
	font-weight: blod;
}
.sssb-soujieguo-down{
	width: 100%;
	height: 2.42rem;
	border-radius: 0.2rem;
	margin-top:0.26rem;
	position: relative;
	box-shadow: 0.02rem 0.02rem 0.2rem 0 #DBDBDB;
}
.sssb-soujieguo-down>img{
	display: block;
	width: 0.69rem;
	height: 0.73rem;
	position: absolute;
	left:6.17rem;
	top:-0.07rem;
}
.sssb-soujieguo-down-left{
	width: 1.08rem;
	height: 2.42rem;
	float: left;
	margin-left:0.17rem;
}
.sssb-soujieguo-down-left>img{
	display: block;
	width: 1.08rem;
	height: 1.08rem;
	margin-top:0.22rem;
}
.sssb-soujieguo-down-left>img:nth-child(2){
	display: block;
	margin:0.1rem auto 0.1rem auto;
	width: 0.67rem;
	height: 0.03rem;
}
.sssb-soujieguo-down-left>div{
	width: 0.94rem;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin:0 auto;
}
.sssb-soujieguo-down-left>div>img{
	display: block;
	width: 0.17rem;
	height: 0.16rem;
}
.sssb-soujieguo-down-right{
	width: 4rem;
	height: auto;
	margin-left:0.7rem;
	float: left;
	overflow: hidden;
}
.sssb-soujieguo-down-right ul{
	width: 100%;
}
.sssb-soujieguo-down-right ul>li{
	font-size:0.24rem;
	color:#34393F;
	margin-top:0.1rem;
	
	line-height: 0.24rem;
}
.sssb-soujieguo-down-right ul>li:nth-child(1){
	font-weight: 500;
}
.sssb-soujieguo-down-right ul>li:nth-child(2){
	font-size: 0.2rem;
	color:#42464C;
	line-height: 0.2rem;
}
.sssb-soujieguo-down-right ul>li:nth-child(3) img{
	display: block;
	width: 1.1rem;
	height: 0.02rem;
}
.sssb-soujieguo-down-right ul>li:nth-child(4){
	font-size: 0.24rem;
	color:#34393F;
	line-height: 0.3rem;
}
.sssb-soujieguo-down-right ul>li:nth-child(5) img{
	display: block;
	width: 1.1rem;
	height: 0.02rem;
}
.sssb-soujieguo-down-right ul>li:nth-child(6){
	overflow: hidden;
}
.sssb-soujieguo-down-right ul>li:nth-child(6) img{
	display: block;
	width: 0.22rem;
	height: 0.22rem;
	float: left;
}
.sssb-soujieguo-down-right ul>li:nth-child(6) span{
	display: block;
	float: left;
	font-size: 0.2rem;
	color:#34393F;
	margin-left: 0.05rem;
}
.sssb-soujieguo-down-right ul>li:nth-child(7){
	overflow: hidden;
}
.sssb-soujieguo-down-right ul>li:nth-child(7) img{
	display: block;
	width: 0.22rem;
	height: 0.22rem;
	float: left;
}
.sssb-soujieguo-down-right ul>li:nth-child(7) span{
	display: block;
	float: left;
	font-size: 0.2rem;
	color:#34393F;
	margin-left: 0.05rem;
}