body,html{
	width:100%;
	height:100%;
	background: #F5F5F5;
	/* overflow: hidden; */
	position: relative;
}
.wsxx_Head{
	width: 100%;
	height:0.88rem;
    background: #1B73D7;
    padding:0.12rem;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    top: 0rem;
    z-index: 99;
}
.wsxx_Head>a{
	display: block;
	float: left;
	margin-top:0.11rem;
    margin-left:0.11rem;
    width:0.44rem;
	height:0.44rem;
}
.wsxx_Head img{
	width:0.44rem;
	height:0.44rem;
    display: block;
}
.wsxx_Head>span{
	float: left;
	text-align: center;
	color: white;
    margin-left: 2.5rem;
    line-height:0.64rem;
	font-size:0.28rem;
}

.wsxx_Box{
	width: 100%;
	/* height: 1.47rem; */
	background: #5E91FB;
	box-sizing: border-box;
	padding: 0.24rem 0.24rem 0.04rem;
	position: relative;
	overflow: hidden;
	margin-top: 0.88rem;
}
.wsxx_Box>h5{
	float: left;
	font-size: 0.3rem;
	color: #f9f9f9;
	line-height: 0.36rem;
	width: 100%;
}
.wsxx_Box>span{
	float: left;
	font-size: 0.24rem;
	color:#f9f9f9;
	line-height: 0.3rem;
	width: 100%;
}
.wsxx_Box>img{
	width: 0.5rem;
	display: block;
	position: absolute;
	left:2.7rem;
	top: 0.3rem;
}
.wsxx_Box>em{
	width: 100%;
	float: left;
	font-size: 0.24rem;
	color:#f9f9f9;
	line-height: 0.72rem;
	font-style: normal;
}



.xzsg_BigBox{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 1.18rem 0.2rem 0.2rem;
	background: #1F7BE8;
}
.ImgBox{
	width:100%;
	height:1.40rem;
	background-image: url('../img/wsxx_2.png');
	background-size:100%;
	position: relative;
}
.imgBoxSon{
	width: 1.38rem;
	height: 1.38rem;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top:-0.69rem;
	margin: auto;
}
.imgBoxSon>img{
	width: 1.54rem;
}
.down_BigBox{
	width: 100%;
	height: auto;
	background: #fff;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0rem 1rem 0.5rem;
}
.xzsg_Box{
	width:4.88rem;
	height: auto;
	box-sizing: border-box;
	/* overflow: hidden; */
	padding: 0.2rem 0rem 0.13rem;
	text-align: center;
	margin: 0 auto;
	border-bottom: 0.01rem solid #ABABAB;
	position: relative;
}
.xzsg_Box>img{
	height: 0.48rem;
	/* float: left; */
}
.xzsg_Box>span{
	font-size: 0.34rem;
	color: #313131;
	line-height: 0.48rem;
	/* float: left; */
}
.xzsg_Box>em{
	font-size: 0.24rem;
	font-style: normal;
	color: #313131;
	line-height: 0.38rem;
}
.xzsg_Box>i{
	display: block;
	width: 0.04rem;
	height: 0.04rem;
	border-radius: 50%;
	background: #797979;
	position: absolute;
	bottom: -0.025rem;
}
.xzsg_Box>i:first-of-type{
	left: -0.025rem;
}
.xzsg_Box>i:last-of-type{
	right:-0.025rem;
}
.xzsg_Box>i:nth-of-type(2){
	left: 0rem;
	right: 0rem;
	margin: auto;
}
.sg_Box{
	width: 100%;
	height: auto;
	box-sizing:border-box;
	padding-top:0.4rem;
	padding-bottom:0.8rem;
	overflow: hidden;
}
.sg_BoxSon{
	width:100%;
	height: auto;
	text-align: center;
	float: left;
	margin-bottom: 0.8rem;
}
.sg_BoxSon>img{
	height: 2.1rem;
}
.sg_Box>ul{
	width: 1.27rem;
	/* overflow: hidden; */
	margin: 0 auto;
	position: relative;
}
.sg_Box>ul:after{
	content: "";
	display: block;
	clear: both;
}
.sg_Box>ul>li{
	width: 50%;
	float: left;
	/* background: red; */
	text-align: center;
	box-sizing: border-box;
}
.sg_Box>ul>li:nth-of-type(1),.sg_Box>ul>li:nth-of-type(2),.sg_Box>ul>li:nth-of-type(5),.sg_Box>ul>li:nth-of-type(6){
	font-size: 0.24rem;
	color: #6c6b6b;
	line-height: 0.36rem;
}
.sg_Box>ul>li:nth-of-type(3),.sg_Box>ul>li:nth-of-type(4){
	font-size: 0.3rem;
	color: #313131;
	line-height: 0.45rem;
	border-top: 0.01rem solid #8E8E8E;
	border-bottom: 0.01rem solid #8E8E8E;
}
.sg_Box>ul>li:nth-of-type(3){
	border-right:0.01rem solid #8E8E8E;
}
.sg_Box>ul>li:nth-of-type(7){
	position: absolute;
	font-size: 0.24rem;
	color: #474646;
	height: 0.45rem;
	line-height: 0.45rem;
	bottom:0.36rem;
	right: -0.5rem;
}
.down_BigBox>a{
	display: block;
	width:4rem;
	height:0.9rem;
	background: #2A6DF9;
	border-radius:1rem;
	margin:0 auto;
	box-sizing: border-box;
	padding: 0.05rem;
	text-align: center;
	text-decoration: none;
	position: relative;
}
.down_BigBox>a>h6{
	font-size: 0.34rem;
	color: #fff;
    font-weight:normal;
    line-height: 0.44rem;
}
.down_BigBox>a>span{
	font-size: 0.24rem;
	color: #fff;
	line-height: 0.34rem;
	margin: 0rem;
}
.down_BigBox>a>em{
	display: block;
	width: 0.06rem;
	height: 0.06rem;
	border-radius:50%;
	background: #fff;
	position: absolute;
	top:0;
	bottom:0;
	margin: auto;
}
.down_BigBox>a>em:first-of-type{
	left: 0.2rem;
}
.down_BigBox>a>em:last-of-type{
	right: 0.2rem;
}