@import url("base.css");
.zbj-head{
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
	padding: 0 0.3rem;
	background: #1B1B1B;
	position: relative;
}
.zbj-head .son1{
	width: 0.08rem;
	height: 0.26rem;
	background: white;
	border-radius: 0.08rem;
	position: absolute;
	top: 0.4rem;
	left: 0.7rem;
}
.zbj-head .son2{
	width: 0.08rem;
	height: 0.26rem;
	background: white;
	border-radius: 0.08rem;
	position: absolute;
	top: 0.4rem;
	left: 0.82rem;
}
.zbj-head .son3{
	width: 0.08rem;
	height: 0.26rem;
	background: white;
	border-radius: 0.08rem;
	position: absolute;
	top: 0.4rem;
	left: 2.56rem;
}
.zbj-head .son4{
	width: 0.08rem;
	height: 0.26rem;
	background: white;
	border-radius: 0.08rem;
	position: absolute;
	top: 0.4rem;
	left: 2.68rem;
}
.zbj-head .zbj-gz{
	width: 2.85rem;
	height: 1.55rem;
	background: white;
	margin-top: 0.51rem;
	border-radius: 0.1rem;
	overflow: hidden;
	float: left;
}
.zbj-head .zbj-gz .top{
	width: 100%;
	height: 0.45rem;
	background: #236BFF;
}
.zbj-head .zbj-gz .zhong{
	height: 0.78rem;
	background: white;
}
.zbj-head .zbj-gz .bottom{
	height: 0.32rem;
	background: #222D34;
	padding: 0 0.1rem 0 0.23rem;
	font-size: 0.2rem;
	color: #FC2C2C;
	line-height: 0.28rem;
}
.zbj-head .zbj-gz .bottom a{
	font-size: 0.2rem;
	color: #FC2C2C;
	float: right;
}
.zbj-head .zbj-gz .bottom img{
	width: 0.52rem;
	height: 0.15rem;
	float: left;
	margin-top: 0.06rem;
	margin-right: 0.05rem;
}
.zbj-head .zbj-gz .zhong .zuo{
	height: 100%;
	float: left;
}
.zbj-head .zbj-gz .zhong .yuan{
	width: 0.57rem;
	height: 0.57rem;
	background: url(../img/original_Q4W1_2f1e000074521262.png);
	background-size: 0.9rem 1.18rem;
	background-position: center top; 
	border-radius: 50%;
	margin: 0.07rem 0.17rem 0;
}
.zbj-head .zbj-gz .zhong .you{
	height: 100%;
	float: left;
}
.zbj-head .zbj-gz .zhong .you em{
	font-style: normal;
	font-size: 0.18rem;
	font-weight: 600;
}
.zbj-head .zbj-gz .zhong .you p{
	font-size: 0.18rem;
	margin-top: 0.12rem;
}
.zbj-head .zbj-gz .zhong .you img{
	width: 0.62rem;
	height: 0.19rem;
	margin-top: 0.03rem;
}
.zbj-head .tuyou{
	width: 3.75rem;
	height: 0.7rem;
	float: left;
	margin-top: 0.51rem;
	margin-left: 0.3rem;
}
.zbj-head .tuyou ul li{
	width: 0.66rem;
	height: 0.66rem;
	border-radius: 50%;
	float: left; 
}
.zbj-head .tuyou ul li:nth-child(1){
	background: url(../img/original_p730_415b00009149121b.png);
	background-size: 0.9rem 1.18rem;
	background-position: -0.15rem -0.1rem;
}
.zbj-head .tuyou ul li:nth-child(2){
	margin-left: -0.25rem;
	background: url(../img/original_p730_415b00009149121b.png);
	background-size: 0.9rem 1.18rem;
	background-position: -0.15rem -0.1rem;
}
.zbj-head .tuyou ul li:nth-child(3){
	margin-left: -0.28rem;
	background: url(../img/original_p730_415b00009149121b.png);
	background-size: 0.9rem 1.18rem;
	background-position: -0.15rem -0.1rem;
}
.zbj-head .tuyou ul li:nth-child(4){
	margin-left: -0.28rem;
	background: url(../img/original_p730_415b00009149121b.png);
	background-size: 0.9rem 1.18rem;
	background-position: -0.15rem -0.1rem;
}
.zbj-head .tuyou ul li:nth-child(5){
	margin-left: -0.28rem;
	background: url(../img/original_p730_415b00009149121b.png);
	background-size: 0.9rem 1.18rem;
	background-position: -0.15rem -0.1rem;
}
.zbj-head .tuyou ul li:nth-child(6){
	margin-left: -0.28rem;
	background: url(../img/original_p730_415b00009149121b.png);
	background-size: 0.9rem 1.18rem;
	background-position: -0.15rem -0.1rem;
}
.zbj-head .tuyou ul li:nth-child(7){
	margin-left: -0.28rem;
	box-sizing: border-box;
	border: 0.02rem solid white;
	text-align: center;
	line-height: 0.66rem;
	background: #222D34;
	font-size: 0.2rem;
	color: #EEF536;
}
.zbj-head .tuyou ul li:nth-child(8){
	width: 0.69rem;
	height: 0.69rem;
	box-sizing: border-box;
	border: 0.01rem solid white;
	border-radius: 50%;
	float: right;
	margin-top: -0.03rem;
	text-align: center;
	line-height: 0.69rem;
	font-size: 0.7rem;
}
.zbj-head .tuyou ul li:nth-child(8) a{
	color: white;
}
.zbj-head .hexia{
	width: 100%;
	overflow: hidden;
	padding-bottom: 0.25rem;
}
.zbj-head .laba{
	width: 1.03rem;
	height: 0.47rem;
	background: url(../img/laba.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 0.61rem 0.39rem;
	background-color: #FFB427;
	float: left;
	border-radius: 0.47rem;
	border: 0.06rem solid black;
	margin-top: 0.62rem;
}
.zbj-head .zi{
	overflow: hidden;
	font-size: 0.3rem;
	color: #FFCC00;
	padding: 0.17rem 0.17rem;
	background: #444444;
	border-radius: 0.57rem;
	float: right;
	margin-top: 0.5rem;
}
/*图片开始*/
.zbj-tpks{
	width: 100%;
	height: 4.88rem;
	background: url(../img/tiaosan.png);
	background-size: cover;
	position: relative;
}
.zbj-tpks .zi{
	/*width: 3.43rem;*/
	height: 0.64rem;
	border-radius: 0.64rem;
	background: #EAEAEA;
	position: absolute;
	bottom: 0.08rem;
	left: 0.3rem;
	padding: 0 0.18rem;
}
.zbj-tpks .zi .gou{
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 50%;
	margin: 0.12rem 0.07rem 0 0;
	float: left;
}
.zbj-tpks .zi .hua{
	width: 0.63rem;
	height: 0.73rem;
	float: left;
	position: relative;
	top: -0.2rem;
	margin: 0 0.0.5rem;
}
.zbj-tpks .zi span{
	font-size: 0.22rem;
	color: #FFCC00;
	float: left;
	margin-top: 0.25rem;
}

/*底部开始*/
.zbj-di{
	width: 100%;
	height: 4.94rem;
	background: #1B1B1B;
	box-sizing: border-box;
	padding: 0 0.3rem;
	overflow: hidden;
}
.zbj-di ul{
	margin-top: 0.72rem;
}
.zbj-di ul li{
	font-size: 0.26rem;
	color: #FFCC00;
	line-height: 0.42rem;
}
.zbj-di .bottom{
	margin-top: 0.2rem;
}
.zbj-di .bottom a{
	display: block;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	float: left;
}
.zbj-di .bottom a:nth-child(1){
	background: url(../img/dian.png);
	background-size: 0.52rem 0.41rem;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
}
.zbj-di .bottom a:nth-child(2){
	background: url(../img/zu-11_03.png);
	background-size: 0.46rem 0.46rem;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
}
.zbj-di .bottom a:nth-child(3){
	background: url(../img/zu-11_05.png);
	background-size: 0.43rem 0.41rem;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
}
.zbj-di .bottom a:nth-child(4){
	background: url(../img/zu-11_07.png);
	background-size: 0.42rem 0.41rem;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
}
.zbj-di .bottom a:nth-child(1)~a{
	margin-left: 0.14rem;
}
.zbj-di .bottom a:nth-child(5){
	margin-left: 0;
	background: url(../img/shu.png);
	background-color:#FEB627;
	background-size: 100%;
	background-repeat: no-repeat;
	float: right;
}
.zbj-di .bottom a:nth-child(3) img{
	width: 0.37rem;
	height: 0.28rem;
}
.zbj-di .bottom a:nth-child(4) img{
	width: 0.28rem;
	height: 0.31rem;
}
