*{
    margin:0;
    padding:0;
    list-style:none;
}
html,body{
    width:100%;
    height:100%;
    overflow: hidden;
}
body{
    background-image:url(../images/2.jpg);
    background-size:cover;
    background-position:center;
}
.tops{
    width:100%;
    height:592px;
    overflow: hidden;
    color:#fff;
}
.tops>.songs{
    width:100%;
    height:50px;
    /*background:red;*/
    line-height: 50px;
    text-align: center;
    font-weight:bold;
    font-size: 24px;
}
.tops>.songdown{
    margin:0 auto;
    width:250px;
    height:40px;
    /*background:blue;*/
    line-height: 40px;
    font-weight:bold;
    font-size: 20px;
    padding:0 50px;
    /*position: relative;*/
}
.tops>.songdown>span{
    display: block;
    width:50px;
    height:1px;
    background:#fff;
    margin:20px auto;
    float:left;
}
.tops>.songdown>.anthor{
    width:150px;
    float:left;
    margin:0 auto;
    text-align: center;
}
.tops>ul{
    width:100%;
    height:auto;
    background:rgba(0,0,0,0.5);
    text-align: center;
    margin:1px auto;
    overflow: hidden;
}
.tops>ul>li{
    width:100%;
    height:40px;
    line-height: 40px;
    text-align: center;
}
.tops>ul>.hot{
    color:#1CFA71;
    font-size:20px;
}
.down{
    width:100%;
    height:150px;
    /*background:red;*/
    margin:0 auto;
    color:#fff;
}
.down>.progress{
    width:350px;
    height:50px;
    margin:0 auto;
    line-height: 50px;
    box-sizing: border-box;
    padding:0 10px;
    /*background:green;*/
}
.down>.progress>.left{
    float:left;
}
.down>.progress>.right{
    float:right;
}
.down>.progress>.pro{
    width:200px;
    height:2px;
    background:#DBD8D8;
    float:left;
    margin:24px 22px;
    position:relative;
}
.down>.progress>.pro>.cir{
    width:10px;
    height:10px;
    background:#1CFA71;
    border-radius:50%;
    position:absolute;
    left:0;
    top:-4px;
}
.down>.progress>.pro>.current{
    height:2px;
    width:0px;
    position:absolute;
    left:0;
    top:0;
    background:#A6B387;
}
.down>.control{
    width:350px;
    height:60px;
    margin:0 auto;
    line-height: 50px;
    box-sizing: border-box;
    padding:0 25px;
    /*background:blue;*/
}
.down>.control .icon-bofang:before{
    font-size:36px;
    /*color:#A6B387;*/
}
.down>.control .icon-shangyishou:before{
     font-size:30px;
     /*color:#A6B387;*/
 }
.down>.control .icon-xiayishou:before{
    font-size:30px;
    /*color:red;*/
}
.down>.control>em{
    float:left;
    width:100px;
    height:100%;
    text-align: center;
    color:#1CFA71;
    /*background:blue;*/
}
.down>.control>em:hover{
    color:#A6B387;
}
audio{
    display: none;
}
.down>.control2{
    width:350px;
    height:60px;
    margin:0 auto;
    line-height: 50px;
    box-sizing: border-box;
    padding:0 5px;
    background:blue;
}